<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon) 설정 링크 -->
<link rel="shortcut icon"
href="http://192.168.10.84/images/favicon.ico"/>
<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<style type="text/css">

</style>

<script type="text/javascript">
$(function(){

});

</script>
</head>
<body>
<!-- Vue app은 app이라는 id 안에서만 동작한다. -->
<div id="app">
<h3>객체복사</h3>
<div>{{userData.name}}</div>
<input type="button" value="깊은복사" @Click="copy()"/><br>
<input type="button" value="얕은복사" @Click="copy2()"/>
</div>

<script>
Vue.createApp({

	data(){
		return { userData:{name:"이장훈" } }
	},
	methods:{
		copy(){
			var data={...this.userData};
			alert(`복사된 객체 : ${data.name},  원본 객체 : ${this.userData.name}`);
			data.name="유연수";
			alert(`복사된 객체 : ${data.name},  원본 객체 : ${this.userData.name}`)
		},
		copy2(){
			var data=this.userData;
			alert(`복사된 객체 : ${data.name},  원본 객체 : ${this.userData.name}`);
			data.name="유연수";
			alert(`복사된 객체 : ${data.name},  원본 객체 : ${this.userData.name}`)
		}
	}
}).mount("#app");

</script>
</body>
</html>